<ul>
    <li class="item" *ngFor="let child of list | keyvalue">
        <div>
            <label>
                <input
                [id]="child.value.id" 
                type="checkbox" 
                [(ngModel)]="child.value.selected"
                (change)="selectChildren($event.target.checked, child.value)"> 
                {{ child.value.name }}
            </label>
            <i 
            [ngClass]="{'fa-angle-down': !child.value.opened,'fa-angle-up': child.value.opened}" 
            class="fa"
            (click)="child.value.opened = !child.value.opened"></i>
        </div>

        <div *ngIf="child.value.children && child.value.opened">
            <app-tree-child 
            [list]="child.value.children"
            [parentId]="child.value.id"></app-tree-child>
        </div>
    </li>
</ul>