<ul>
    <li class="item" *ngFor="let item of treeData">
        <label>
            <input type="checkbox" [(ngModel)]="item.selected" (change)="selectChildren($event.target.checked, item)"> 
            {{ item.name }}
        </label>
        <i 
            [ngClass]="{'fa-angle-down': !item.opened,'fa-angle-up': item.opened}" 
            class="fa"
            (click)="item.opened = !item.opened"></i>
        <ul *ngIf="item.children && item.opened">
            <li *ngFor="let child of item.children">
                <label>
                    <input type="checkbox" [(ngModel)]="child.selected"> 
                    {{ child.name }}
                </label>
                <i class="fa fa-angle-down"></i> 
                <i class="fa fa-angle-up"></i> 
            </li>
        </ul>
    </li>
</ul>

