ul {
    padding-left: 0px;
    
    .item {
        background: #e7e7e7;
        display: block;
        padding: 15px;
        align-items: center;
        justify-content: space-between;
    
        &:hover {
            background: #cccccc;
        }
    
        label {
            display: flex;
            align-items: center;
    
            input[type="checkbox"] {
                margin-right: 15px;
            }
        }

        ul {
            padding-left: 20px;
            list-style: none;
        }
    }
}
